@model Learning.ViewModel.EmployeeVM
@{
    ViewData["Title"] = "Employee List";
}
</h6>
<a asp-controller="Employee" asp-action="Create" class="btn btn-primary">
    New Employee
</a>

<h2>Employee List</h2>

<form method="get">
    <input type="text" name="searchTerm" value="@ViewBag.SearchTerm" placeholder="Search by name..." />
    <button type="submit">Search</button>
</form>

<ul>
  
</ul>
